* {
  font-family: roboto;
}

body {
  margin: 0;
  font-size: $font-size;
  background: #F2F8F9;
  >* {
    max-width: 1170px;
    margin: 0 auto;
    background: #FFF;
  }
}

.text-center {
  text-align: center;
}