  body {
    >header {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background: transparent;
      >* {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        i {
          font-size: 1.3em;
        }
      }
      button {
        font-size: 1em;
        align-self: flex-end;
        position: relative;
        padding-bottom: 20px;
        padding-top: 10px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        color: #1C86E3;
      }
      .profile-pic {
        height: 200px;
        width: 200px;
        align-self: center;
        flex: 0 1 200px;
        margin: 0 15px 0 0;
        background-size: cover;
        background-position: center;
        z-index: 1;
      }
      .name-header {
        font-size: 1.3em
      }
      i {
        color: #707D86;
      }
      pseudo {
        color: black;
      }
      .stars {
        color: #1580E2;
        div {
          display: inline-block;
        }
      }
      nav {
        display: flex; //box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.75);
        margin: 8px 0 0;
        border: 1px solid #F5F8F7;
        background: #FFF;
        ul {
          overflow: hidden;
          display: inline-flex;
          list-style: none;
          padding: 0;
          margin: 0 0 -1px 0;
          li {
            padding: 1em 0;
            margin: 0 10px;
            text-transform: uppercase;
            &.selected {
              border-bottom: 2px solid #0c5bc9;
            }
          }
        }
      }
      @media screen and (min-width: $screen-sm) {
        & {
          background: #FFF;
        }
        nav {
          margin-top: -30px;
          padding-left: 230px;
        }
        >* {
          position: relative;
          display: flex;
          flex-direction: row;
          >div {
            flex: 1 0 auto;
          }
          .review,
          .followers {
            z-index: 1;
            position: absolute;
            right: 0;
          }
          .review {
            top: 0;
            div {
              display: inline;
            }
          }
          .stars {
            margin-right: 10px;
          }
          .followers {
            bottom: 0;
          }
          nav {
            margin-right: 0;
          }
        }
      }
    }
  }