main {
  margin-top: 15px;
  article {
    font-size: 1.5em;
    padding-top: 20px;
    margin: 0 auto;
    width: 90%;
    .about {
      display: flex;
      padding-bottom: 3px;
      >div:nth-of-type(1) {
        display: flex;
        flex-direction: column wrap;
        justify-content: center;
        align-items: center;
      }
    }
    div {
      padding-bottom: 10px;
    }
    div .edit {
      border: 1px 1px 1px 1px;
      margin-left: auto;
      font-size: 1.5em;
    }
    div i {
      color: #707D86
    }
  }
}